.team-carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.personal-links a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.doctor-works .work-day .work-time {
  color: #1d2a4d;
}
.doctor-works .work-day {
  color: #2bcbe0;
}
